@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #2a2b2e !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  line-height: 1.5;
}

section {
  max-width: 1000px;
  justify-content: center;
  margin: 0px auto;
  padding: 100px 0px;
}

@media (max-width: 1100px) {
  section {
    padding: 100px 100px;
  }

  .navbar-constraint {
    padding: 0 40px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 80px 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a {
  display: inline-block;
  text-decoration: none !important;
  text-decoration-skip-ink: auto;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #b8b8b8 !important;
}

p {
  font-size: calc(14px + 0.2vw);
  margin: 0;
  padding: 0;
  line-height: 1.3;
  text-decoration: none;
}

li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/************ Navbar CSS ************/
.nav-header {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  transition: 0.32s ease-in-out;
  background-color: #2a2b2e;
}
.scrolled {
  box-shadow: 0 10px 30px -10px #202020;
  backdrop-filter: blur(10px);
}
.scrolled-up {
  height: 100px;
  transform: translateY(0px);
  background-color: transparent;
}
.scrolled-down {
  height: 100px;
  transform: translateY(calc(100px * -1));
}
.navbar-constraint {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center !important;
  position: relative;
  max-width: 1000px;
  z-index: 12;
}
@media (min-width: 850px) {
  .navbar-constraint {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .navbar-constriant {
  }
}
.navbar-logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: auto;
  min-height: 52px;
}
.navbar-links {
  margin-left: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.navbar-links ol {
  display: flex;
  -webkit-box-pack: center;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.navbar-links li {
  margin: 0px 5px;
  position: relative;
}
@media (max-width: 850px) {
  .navbar-links {
    display: none;
  }
}
.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px 0 0;
  font-size: 14px;
}
.navbar-link.active {
  color: #fc814a !important;
}
.navbar-link:hover {
  color: #fc814a !important;
}
.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}
.navbar-toggler {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  position: relative;
  z-index: 10;
  padding: 15px;
  border: 0px;
}
@media (min-width: 850px) {
  .navbar-toggler {
    display: none;
  }
}
.hamburger {
  width: 40px;
  height: 40px;
}
.filter-white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(40deg) brightness(111%) contrast(108%);
}
.filter-orange {
  filter: invert(68%) sepia(33%) saturate(3590%) hue-rotate(327deg) brightness(100%) contrast(99%);
}
.hamburger:hover {
  filter: invert(68%) sepia(33%) saturate(3590%) hue-rotate(327deg) brightness(100%) contrast(99%);
}
.nav-sidebar-hide {
  display: none;
}
.nav-sidebar {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: #2a2b2e;
  box-shadow: -10px 0px 30px -15px #666;
  z-index: 9;
}

.nav-sidebar-inner {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: #b8b8b8;
  text-align: center;
  margin-top: 40px;
}
.nav-sidebar-inner ol {
  list-style: none;
  padding-left: 0;
}
.nav-sidebar-inner li {
  position: relative;
  margin: 0px auto 20px;
}
.nav-sidebar-inner a {
  font-size: 22px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 100%;
  padding: 3px 20px 20px;
}
.navbar-text button {
  font-weight: 700;
  color: #fa824c;
  border-radius: 4px;
  border: 1px solid #fa824c;
  padding: 8px 16px;
  font-size: 14px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fc814a;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-collapse.show {
  margin-left: auto;
}
nav.navbar .navbar-toggler {
  margin-left: auto;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  min-width: 150px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #fc814a;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%)
    contrast(86%);
}

/************ Hero CSS ************/
.hero {
  margin-top: 0;
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero .tagline {
  font-size: calc(12px + 0.25vw);
  font-size: 18px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fa824c;
}
.hero .tagline-white {
  font-size: calc(12px + 0.25vw);
  line-height: 1.5;
  padding-top: 8px;
  margin-bottom: 16px;
  display: inline-block;
  color: #9da39a;
  max-width: 540px;
}
.hero h1 {
  font-size: calc(30px + 1.5vw);
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 16px;
  display: block;
}
.hero button {
  border: 1px solid #fff;
  padding: 18px 34px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.hero button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.hero button:hover svg {
  margin-left: 25px;
}

.txt-rotate-header {
  color: #9da39a;
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ About CSS ************/
.about-bx {
  border-radius: 64px;
  text-align: left;
}
.about h2 {
  font-size: 45px;
  font-weight: 700;
}
.about p {
  color: #b8b8b8;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.about-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.about-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.img-me {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}
.about .about-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding-bottom: 10px;
  margin: 20px 0px 0px;
  list-style: none;
}
.about-list li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  padding-top: 4px;
  color: #fa824c;
  line-height: 12px;
}
.about-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #7e8287;
}
/************ Experience CSS **********/
.experience {
  padding: 200px 0;
  position: relative;
  max-width: 700px;
}
@media (min-width: 850px) {
  .experience {
    height: 85vh;
  }
}
@media (max-width: 850px) {
  .experience {
    padding: 40px;
  }
}
.experience .nav-pills .nav-link {
  color: #7e8287;
}
.experience .nav.nav-pills {
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
  border-left: 1px solid;
  border-color: #7e8287;
}
.experience .nav.nav-pills .active {
  border-radius: 0;
  color: #fa824c;
  background-color: transparent;
}
.experience .nav.nav-pills .nav-link.active {
  border-left: 1px solid;
  border-color: #fa824c;
}
.experience-tabs-column {
  margin-bottom: 40px;
}
.experience .experience-list {
  display: grid;
  padding-bottom: 10px;
  margin: 0px;
  padding-left: 0px;
  overflow: hidden;
  list-style: none;
}
.experience-list li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  padding-top: 4px;
  color: #fa824c;
  line-height: 12px;
}
.experience-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #7e8287;
}
.experience-company {
  color: #fa824c;
}
.experience-time {
  color: #7e8287;
}

/************ Project CSS ************/
.project {
  position: relative;
  min-height: 100vh;
  max-width: 1000px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.project h3 {
  text-align: center;
}
.project p {
  color: #b8b8b8;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
}
@media (min-width: 1101px) {
  .proj-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 1100px) {
  .proj-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 301px));
    width: 650px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 670px) {
  .proj-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.proj-svg-orange {
  filter: invert(68%) sepia(33%) saturate(3590%) hue-rotate(327deg) brightness(100%) contrast(99%);
  width: 32px;
  height: 32px;
}
.proj-svg-white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(40deg) brightness(111%) contrast(108%);
  width: 32px;
  height: 32px;
}
.proj-top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}
.proj-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: -10px;
}
.proj-link {
  margin-right: 8px;
}
.proj-year-and-desc {
  color: #cbcfc9;
  line-height: 2;
}
.proj-grid {
  list-style: none;
  max-width: 930px;
  padding: 0px;
  display: grid;
  gap: 15px;
  position: relative;
}
.proj-card {
  background-color: #3b3d40;
  height: 300px;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2rem 1.75rem;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 10px #666;
  display: flex;
}
.proj-card-outer-link {
  text-decoration: none;
  color: #fff !important;
}
.proj-card-white {
  color: #fff;
}
.proj-card-orange {
  color: #fa824c;
}
.proj-width-limiter {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}
.project-tech-list {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.project-tech-list li {
  margin-right: 15px;
  font-size: 14px;
}
.proj-card-inner {
  position: relative;
  overflow: hidden;
  opacity: 80%;
  transition: 0.25s ease-in-out;
  text-shadow: 2px 4px 4px #000000;
}
.proj-card-inner::before {
  content: "";
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-card-inner::before {
  height: 100%;
  opacity: 80%;
}
.animate__pushup {
  opacity: 1;
  animation: pushup 0.2s;
  cursor: pointer;
}
.animate__pushdown {
  animation: pushdown 0.2s;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.project .nav.nav-pills {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #2a2b2e;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #3b3d40;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 55px 55px 0;
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes pushup {
  0% {
    transform: translateY(10px);
  }
  1% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pushdown {
  0% {
    transform: translateY(0px);
  }
  1% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(10px);
  }
}

/************ Contact CSS ************/
.contact {
  margin: 0 auto 100px;
  text-align: center;
}
.contact p {
  color: #b8b8b8;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact button {
  font-weight: 700;
  color: #fa824c;
  border: 1px solid #fa824c;
  padding: 18px 34px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.contact button span {
  z-index: 1;
}
.contact button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fc814a;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.contact button:hover {
  color: #121212;
}
.contact button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

/************ Footer CSS ************/
.footer-outer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px 20px 0 20px;
}
.footer {
  display: flex;
  padding: 0 0 10px 0;
  max-width: 1000px;
  min-width: 200px;
  width: 100%;
  justify-content: space-between;
}
.footer img {
  width: 26%;
}
.footer .footer-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  width: 100%;
  text-align: right;
}

a.link {
  color: #fa824c !important;
}

a.link:hover {
  color: #fa824c !important;
  text-decoration: underline !important;
}
